// IMPORTANT: Never include this file in other *.scss files
// Use @import: "mixins"

// Here are all Mixins for responsivity
// I prefer to use only this ones:
//    res-max-mobile --> for all mobile devices
//    res-min-mobile-max-tablet --> for all tablet devices
//    res-min-tablet-max-desktop-small --> for all small desktop devices
//    res-min-desktop-max-desktop-large --> for all small desktop devices
//    res-min-desktop-large --> for all large desktop devices
// This will cover all devices

$width-mobile-small: 400px;
$width-mobile: 640px;
$width-tablet: 768px;
$width-desktop: 980px;
$width-desktop-large: 1240px;
$width-desktop-HD: 1440px;
$width-desktop-full-HD: 1920px;

// From 0px to - Max
@mixin res-max-mobile-small {
    @media only screen and (max-width: $width-mobile-small) {
        @content;
    }
}

@mixin res-max-mobile {
    @media only screen and (max-width: $width-mobile) {
        @content;
    }
}

@mixin res-max-tablet {
    @media only screen and (max-width: $width-tablet) {
        @content;
    }
}

@mixin res-max-desktop-small {
    @media only screen and (max-width: $width-desktop) {
        @content;
    }
}

@mixin res-max-desktop-large {
    @media only screen and (max-width: $width-desktop-large) {
        @content;
    }
}

@mixin res-max-desktop-HD {
    @media only screen and (max-width: $width-desktop-HD) {
        @content;
    }
}

@mixin res-max-desktop-full-HD {
    @media only screen and (max-width: $width-desktop-full-HD) {
        @content;
    }
}

// From Min to - all (Max is not set)
@mixin res-min-mobile {
    @media only screen and (min-width: ($width-mobile + 1px)) {
        @content;
    }
}

@mixin res-min-tablet {
    @media only screen and (min-width: ($width-tablet + 1px)) {
        @content;
    }
}

@mixin res-min-desktop-small {
    @media only screen and (min-width: ($width-desktop + 1px)) {
        @content;
    }
}

@mixin res-min-desktop-large {
    @media only screen and (min-width: ($width-desktop-large + 1px)) {
        @content;
    }
}

@mixin res-min-desktop-HD {
    @media only screen and (min-width: $width-desktop-HD + 1px) {
        @content;
    }
}

@mixin res-min-desktop-full-HD {
    @media only screen and (min-width: $width-desktop-full-HD + 1px) {
        @content;
    }
}

// From Min to - Max
@mixin res-min-mobile-max-tablet {
    @media only screen and (min-width: ($width-mobile + 1px)) and (max-width: $width-tablet) {
        @content;
    }
}

@mixin res-min-tablet-max-desktop-small {
    @media only screen and (min-width: ($width-tablet + 1px)) and (max-width: $width-desktop) {
        @content;
    }
}

@mixin res-min-desktop-small-max-desktop-large {
    @media only screen and (min-width: ($width-desktop + 1px)) and (max-width: $width-desktop-large) {
        @content;
    }
}

@mixin res-min-desktop-max-desktop-large {
    @media only screen and (min-width: ($width-desktop-large + 1px)) {
        @content;
    }
}
