# DEPRECATED; to remove when trulens_eval is removed.

trulens-feedback >= 1.0.0
trulens-core >= 1.0.0
trulens-dashboard >= 1.0.0

# EXPERIMENTAL(otel_tracing): even though otel is an optional feature, we
# include them in the required packages because if the feature is enabled, we
# talk about these packages as required.
opentelemetry-api >= 1.0.0
opentelemetry-sdk >= 1.0.0
opentelemetry-proto >= 1.0.0
