repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: debug-statements
      - id: check-merge-conflict
      - id: end-of-file-fixer
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      - id: ruff
        types_or: [ python, pyi, jupyter ]
        args: [ --fix ]
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
-   repo: https://github.com/srstevenson/nb-clean
    rev: 3.3.0
    hooks:
      - id: nb-clean
        args: [--remove-empty-cells]
-   repo: https://github.com/tox-dev/pyproject-fmt
    rev: "2.0.4"
    hooks:
      - id: pyproject-fmt
-   repo: https://github.com/python-poetry/poetry
    rev: 1.8.3
    hooks:
      - id: poetry-check
        name: trulens-poetry-check
      - id: poetry-check
        name: trulens-core-poetry-check
        args: [-C src/core]
      - id: poetry-check
        name: trulens-benchmark-poetry-check
        args: [-C src/benchmark]
      - id: poetry-check
        name: trulens-feedback-poetry-check
        args: [-C src/feedback]
      - id: poetry-check
        name: trulens-instrument-langchain-poetry-check
        args: [-C src/instrument/langchain]
      - id: poetry-check
        name: trulens-instrument-llamaindex-poetry-check
        args: [-C src/instrument/llamaindex]
      - id: poetry-check
        name: trulens-instrument-nemo-poetry-check
        args: [-C src/instrument/nemo]
      - id: poetry-check
        name: trulens-providers-bedrock-poetry-check
        args: [-C src/providers/bedrock]
      - id: poetry-check
        name: trulens-providers-cortex-poetry-check
        args: [-C src/providers/cortex]
      - id: poetry-check
        name: trulens-providers-huggingface-poetry-check
        args: [-C src/providers/huggingface]
      - id: poetry-check
        name: trulens-providers-langchain-poetry-check
        args: [-C src/providers/langchain]
      - id: poetry-check
        name: trulens-providers-litellm-poetry-check
        args: [-C src/providers/litellm]
      - id: poetry-check
        name: trulens-providers-openai-poetry-check
        args: [-C src/providers/openai]
