site_name: TruLens

markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/reference/mathjax/
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - codehilite:
      guess_lang: false
  - footnotes
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - mdx_math:
      enable_dollar_delimiter: True #for use of inline $..$


plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_root_heading: false
            show_source: true
          selection:
            filters:
              - "!^_"  # exlude all members starting with _
              - "^__init__$"  # but always include __init__ modules and methods
              - "^__call__$"  # and __call__ methods
      watch:
        - trulens
  - search


theme:
  name: material
  custom_dir: docs/overrides/
  palette:
    scheme: trulens
  #font:
  #  text: Source Sans Pro
  favicon: img/favicon.ico
  logo: img/squid.png

nav:
  - Home: index.md
  - Welcome to TruLens!: welcome.md
  - Installation: install.md
  - Quickstart: quickstart.md
  - Attributions for Different Use Cases!: attribution_parameterization.md
  - API Reference: 
    - Attribution: api/attribution.md
    - Models: api/model_wrappers.md
    - Slices: api/slices.md
    - Quantities: api/quantities.md
    - Distributions: api/distributions.md
    - Visualizations: api/visualizations.md
  - Resources: 
    - NeurIPS Demo: https://truera.github.io/neurips-demo-2021/

extra_css:
  - stylesheets/extra.css
  - stylesheets/cover.css

# https://squidfunk.github.io/mkdocs-material/reference/mathjax/
# Polyfill provides backcompat for JS. We need to import it before
# importing MathJax.
extra_javascript:
  - javascript/config.js
  - javascript/app.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - javascript/tex-mml-chtml-3.0.0.js
  - https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML
