# slack bot and its indexing requirements:
sentencepiece
git+https://github.com/huggingface/transformers
pyllama
tokenizers
protobuf
accelerate
langchain
openai
pinecone-client
tiktoken
slack_bolt
requests
beautifulsoup4
unstructured
pypdf
pdfminer.six
# TruChain requirements:
tinydb
pydantic
merkle_json
# other requirements:
streamlit
streamlit-aggrid
python-dotenv
datasets
cohere
kaggle
watchdog
