@import "../Base/Mixins/responsive";

.header__btn {
    display: inline-block;
    width: auto;
    background-color: var(--color-accent);
    border: none;
    border-radius: 2px;
    padding: 0.75rem 1.25rem;
    line-height: 1.25rem;
    transition:background-color .3s ease-in-out;

    &:hover {
        background-color: lighten($teal, 5%);
    }

    &.btn-secondary {
        background-color: $dark;
        margin-left:1.25rem;

        &:hover {
            background-color: lighten($dark, 5%);
        }
        .header__btn--text {
            color:$white;
            border-left:1px solid rgba(255, 255, 255, 0.25);
        }
    }

    &.hero__btn {
        margin-bottom: 4.8rem;
    }

    &--text {
        border-left: 1px solid #5fa7a7;
        margin-left: 1rem;
        padding-left: 1rem;
        text-align: left;
        font-size: 0.938rem;
        line-height: 1.875rem;
        color: var(--color-primary);
        text-transform:uppercase;

        .strong {
            font-size: 1.125rem;
        }
    }

    @include res-max-tablet {
        margin-bottom: 0rem;
        width:100%;
        padding-right: 2rem;

        &.btn-secondary {
            margin-left:0px;
            background-color: lighten($dark, 5%);
        }
        &.hero__btn {
            margin-bottom: 1.5rem;
        }
    }
}

.btn {
    &__shadow {
        display: grid;
        place-items: center;
        width: 6.25rem;
        height: 6.25rem;
        box-shadow: 0px 0px 30px 10px rgba(10, 44, 55, 0.15);
        border-radius: 4px;
        margin: 0rem 0rem 1rem;
        transition: transform 0.25s ease;
        background-color:$white;
        overflow:hidden
    }
}
