.custom-list li {
    position: relative;
    padding-left: 2.125rem;
    margin-bottom: var(--gap-lg);

    &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 12px;    
        height: 12px;
        background-color: #034A61;

        @include res-max-tablet {
            top: 5px;
        }
        
    }
}