OPENAI_API_KEY=

ANTHROPIC_API_KEY=

MISTRAL_API_KEY=

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_VERSION=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_USER_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_WAREHOUSE=

HUGGINGFACE_API_KEY=

PINECONE_API_KEY=
PINECONE_ENV=
