jinja2==3.0.3
nbformat==5.0.8
nbconvert==6.0.7
pyyaml==5.3.1 # 5.4.1 fails during build due to Cython regression (https://github.com/yaml/pyyaml/issues/724)
matplotlib
pandas
tensorflow-hub
tf-models-official
tensorflow-text
scipy
tensorflow
torch
torchvision
ipywidgets
plotly
gdown
protobuf==3.20.*
opencv-python-headless<4.6
