.custom-list {
    li {
        position: relative;
        padding-left: 2.125rem;
        margin-bottom: var(--gap-md);

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: 2px;
            width: 12px;
            height: 12px;
            border-radius:2px;
            background-color: $d-teal;

            @include res-max-tablet {
                top: 5px;
            }

        }
    }

    &.col-2 {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}
