jinja2==3.0.3
nbformat==5.0.8
nbconvert==6.0.7
pandas==1.3.5
matplotlib
scipy
tensorflow-hub==0.12.0
tensorflow-text==2.6.0
tensorflow==2.6.4
tf-models-official==2.6.1
torch==1.6.0
torchvision==0.7.0
ipywidgets
protobuf==3.20.*
