jinja2==3.0.3
nbformat==5.0.8
nbconvert==6.0.7
pandas==1.3.5
matplotlib
scipy
tensorflow-hub==0.12.0
tensorflow-text==2.8.2
tensorflow==2.8.2
tf-models-official==2.8.0
torch==1.6.0
torchvision==0.7.0
ipywidgets
plotly
gdown
protobuf==3.19.*
opencv-python-headless<4.6