.timeline {
  position: absolute;
  overflow: hidden;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e0e0e0;
  color: #212121;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.timeline-component-name {
  font-weight: 600;
}

.timeline-time-taken {
  font-weight: 400;
  font-size: 0.8em;
}

.timeline:hover {
  border: 1px solid #212121;
  top: 1;
}

.timeline-container {
  border: 1px solid #e0e0e0;
  border-left: 2px solid #2d736d;
  border-radius: 4px;
  box-sizing: border-box;
  display: grid;
}

.timeline-bar-container {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 1;
  padding-right: 4px;
}

.detail {
  font-weight: 600;
  font-size: 0.8rem;
  color: #757575;
}

.record-viewer {
  display: flex;
  flex-direction: column;
  gap: 16;
  box-sizing: border-box;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
