@import "Mixins/responsive";

.flex {
    display: flex;
    
    &__two-col {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        
        @include res-min-tablet {
            > * {
                flex: 1 1 47%;
                width: 47%;
            }
        }

        @include res-max-tablet {
            flex-direction: column;
        }

    }
}

.mt-big {
    margin-top: 10rem;
    
    @include res-max-tablet {
        margin-top: var(--gap-xxl);

        &.mb-xxl {
            margin-bottom: var(--gap-xl);
        }
    }
}

.hide-desktop {
    @include res-min-tablet {
        display: none;
    }
}



.hide-mobile {
    @include res-max-tablet {
        display: none;
    }
}