:root {
  --color-primary: #0A2C37;
  --color-secondary: #F6D881;
  --color-accent: #84DCD7;
  --color-link: #64B9B4;
  --color-text: #757575;
  --color-text-highlight: #FFFFFF;
  --color-background: #FFFFFF;
  --color-background-sec: #D4D4D4;
  --color-navigation: var(--color-primary);
  --color-border: #bbb;
  --gap-xs: 0.125rem;
  --gap-sm: 0.25rem;
  --gap-md: 0.5rem;
  --gap-lg: 1rem;
  --gap-xl: 1.5rem;
  --gap-xxl: 4rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.375rem;
  --text-xxl: 1.5rem;
  --text-h1: 4rem;
  --text-h2: 2.625rem;
  --text-h3: 2.125rem;
  --text: var(--text-sm);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--color-background);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: var(--color-text);
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

h1, h2, h3, h4 {
  margin-top: 0;
  color: var(--color-primary);
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 1;
  margin: 2.813rem 0 2.5rem 0;
  color: var(--color-secondary);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-size: 2.625rem;
  line-height: 115%;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2.125rem;
  }
}

h3 {
  font-size: 1.75rem;
  line-height: 115%;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.75rem;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}

a, a:visited {
  color: var(--color-link);
  text-decoration: none;
}

.small {
  font-size: 0.938rem;
  line-height: 1.625rem;
}

.strong {
  font-weight: 700;
}

.subtitle {
  font-size: 1.625rem;
  line-height: 115%;
}

.font-primary {
  font-family: "Space Grotesk", sans-serif;
}

p {
  margin: 0;
}

.box {
  position: relative;
  padding: var(--gap-xl) 0;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: var(--color-primary);
}

.box__shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 22.5rem;
  text-align: center;
}

.box__shadow .strong {
  color: var(--color-primary);
  font-size: 1.375rem;
  margin: 1rem 0;
}

.header__btn {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border: none;
  border-radius: 2px;
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}

.header__btn--text {
  border-left: 1px solid #5fa7a7;
  margin-left: 1rem;
  padding-left: 1rem;
  text-align: left;
  font-size: 0.938rem;
}

.header__btn--text .strong {
  font-size: 1.125rem;
}

@media only screen and (max-width: 640px) {
  .header__btn {
    margin: 0 auto 5rem auto;
  }
}

.btn__shadow {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 6.25rem;
  height: 6.25rem;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(10, 44, 55, 0.15);
          box-shadow: 0px 0px 30px 10px rgba(10, 44, 55, 0.15);
  border-radius: 4px;
  margin: 1rem;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1241px) {
  .container {
    max-width: 1240px;
  }
}

.container__bg {
  position: relative;
  background-color: var(--color-primary);
  overflow: hidden;
}

.container__wrapper {
  position: relative;
  border-top: 1px solid rgba(3, 74, 97, 0.25);
  padding: 5rem 0;
}

@media only screen and (max-width: 640px) {
  .container__wrapper {
    padding: 2.5rem 0;
  }
}

.container__empty {
  position: relative;
}

.custom-list li {
  position: relative;
  padding-left: 2.125rem;
  margin-bottom: var(--gap-lg);
}

.custom-list li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #034A61;
}

:root {
  --color-primary: #0A2C37;
  --color-secondary: #F6D881;
  --color-accent: #84DCD7;
  --color-link: #64B9B4;
  --color-text: #757575;
  --color-text-highlight: #FFFFFF;
  --color-background: #FFFFFF;
  --color-background-sec: #D4D4D4;
  --color-navigation: var(--color-primary);
  --color-border: #bbb;
  --gap-xs: 0.125rem;
  --gap-sm: 0.25rem;
  --gap-md: 0.5rem;
  --gap-lg: 1rem;
  --gap-xl: 1.5rem;
  --gap-xxl: 4rem;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.375rem;
  --text-xxl: 1.5rem;
  --text-h1: 4rem;
  --text-h2: 2.625rem;
  --text-h3: 2.125rem;
  --text: var(--text-sm);
}

.nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: calc(var(--gap-lg) * 2 + 32px);
  z-index: 100;
  background-color: transparent;
  padding: 1.25rem 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media only screen and (max-width: 1240px) {
  .nav {
    padding: 0.5rem var(--gap-xl);
  }
}

.nav.sticky {
  position: fixed;
  background-color: var(--color-navigation);
  padding: 1rem 0;
}

@media only screen and (max-width: 640px) {
  .nav.sticky {
    padding: 0.5rem 1.25rem;
  }
}

.nav.sticky + .header {
  margin-top: calc(2 * 1.25rem + 60px);
}

.nav a, .nav a:visited {
  color: var(--color-text-highlight);
  font-family: "Space Grotesk", sans-serif;
}

.nav a:hover, .nav a:visited:hover {
  text-decoration: underline;
}

.nav__toggle-checkbox {
  display: block;
  width: calc(var(--gap-lg) * 2 + 32px);
  height: calc(var(--gap-lg) * 2 + 32px);
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.nav__toggle-checkbox:checked ~ .nav__burger span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, -2px);
          transform: rotate(45deg) translate(2px, -2px);
}

.nav__toggle-checkbox:checked ~ .nav__burger span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__toggle-checkbox:checked ~ .nav__burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.nav__toggle-checkbox:checked ~ .nav__items {
  -webkit-transform: none;
          transform: none;
}

.nav__burger {
  display: block;
  position: relative;
  margin: var(--gap-lg) var(--gap-lg) var(--gap-lg) auto;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

@media only screen and (min-width: 769px) {
  .nav__burger {
    display: none;
  }
}

.nav__burger a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav__burger a:hover {
  color: tomato;
}

.nav__burger span {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 6px;
  position: relative;
  background: var(--color-text-highlight);
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav__burger span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.nav__burger span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: calc(calc(var(--gap-lg) * 2 + 32px) + 0.5rem);
    left: 0;
    width: 100vw;
    background-color: var(--color-navigation);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-150%, 0);
            transform: translate(-150%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .nav__items .header__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav__items li {
  padding: var(--gap-md);
  margin: var(--gap-md);
}

@media only screen and (max-width: 768px) {
  .nav__items li {
    padding: 0.938rem;
    margin: 0;
    border-bottom: 1px solid rgba(3, 74, 97, 0.25);
  }
}

@media only screen and (max-width: 768px) {
  .nav__logo svg {
    height: 44px;
    width: auto;
  }
}

@media only screen and (max-width: 640px) {
  .section {
    padding: 0 1.25rem;
  }
}

@media only screen and (max-width: 1240px) {
  .section {
    padding: 0 var(--gap-xl);
  }
}

.section:nth-of-type(2n+0) {
  background-color: var(--color-background-sec);
}

.section--contact {
  text-align: center;
}

header {
  z-index: 1;
}

header h1 {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1240px) {
  header {
    padding: 0 var(--gap-xl);
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 5rem 1.25rem;
  }
}

.header__bg {
  position: absolute;
}

@media only screen and (min-width: 1241px) {
  .header__bg {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
  }
}

@media only screen and (max-width: 1240px) {
  .header__bg {
    right: 0;
    bottom: -50px;
  }
}

@media only screen and (max-width: 640px) {
  .header__bg {
    bottom: -10vw;
    right: 0;
  }
  .header__bg svg {
    width: 137vw;
    height: auto;
  }
}

.get-started {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.1;
}

@media only screen and (max-width: 1240px) {
  .bottom-img svg {
    width: 60vw;
    height: auto;
  }
}

.footer {
  padding-bottom: var(--gap-xl);
}

.footer p {
  font-size: 1.125rem;
  opacity: 0.15;
  color: var(--color-primary);
}

@media only screen and (max-width: 640px) {
  .footer {
    border-top: 1px solid rgba(3, 74, 97, 0.25);
    padding-top: var(--gap-xxl);
  }
  .footer > .fd-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: var(--gap-xl);
  }
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-if {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-g {
  display: -ms-grid;
  display: grid;
}

.d-c {
  display: contents;
}

.d-n {
  display: none;
}

.grid-columns-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.grid-columns-3 > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.grid-columns-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.grid-columns-2 > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.flex-columns-2 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100 / 2 * 1%);
          flex: 0 0 calc(100 / 2 * 1%);
}

.flex-columns-3 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100 / 3 * 1%);
          flex: 0 0 calc(100 / 3 * 1%);
}

.flex-columns-4 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100 / 4 * 1%);
          flex: 0 0 calc(100 / 4 * 1%);
}

.flex-columns-5 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100 / 5 * 1%);
          flex: 0 0 calc(100 / 5 * 1%);
}

.fd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fw-nw {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ai-sb {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.ai-sa {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.m-a {
  margin: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: var(--gap-xs);
}

.mb-sm {
  margin-bottom: var(--gap-sm);
}

.mb-md {
  margin-bottom: var(--gap-md);
}

.mb-lg {
  margin-bottom: var(--gap-lg);
}

.mb-xl {
  margin-bottom: var(--gap-xl);
}

.mb-xxl {
  margin-bottom: var(--gap-xxl);
}

.mt-0 {
  margin-top: 0;
}

.mt-xs {
  margin-top: var(--gap-xs);
}

.mt-sm {
  margin-top: var(--gap-sm);
}

.mt-md {
  margin-top: var(--gap-md);
}

.mt-lg {
  margin-top: var(--gap-lg);
}

.mt-xl {
  margin-top: var(--gap-xl);
}

.mt-xxl {
  margin-top: var(--gap-xxl);
}

.ml-0 {
  margin-left: 0;
}

.ml-xs {
  margin-left: var(--gap-xs);
}

.ml-sm {
  margin-left: var(--gap-sm);
}

.ml-md {
  margin-left: var(--gap-md);
}

.ml-lg {
  margin-left: var(--gap-lg);
}

.ml-xl {
  margin-left: var(--gap-xl);
}

.ml-xxl {
  margin-left: var(--gap-xxl);
}

.mr-0 {
  margin-right: 0;
}

.mr-xs {
  margin-right: var(--gap-xs);
}

.mr-sm {
  margin-right: var(--gap-sm);
}

.mr-md {
  margin-right: var(--gap-md);
}

.mr-lg {
  margin-right: var(--gap-lg);
}

.mr-xl {
  margin-right: var(--gap-xl);
}

.mr-xxl {
  margin-right: var(--gap-xxl);
}

.ma-0 {
  margin: 0;
}

.ma-xs {
  margin: var(--gap-xs);
}

.ma-sm {
  margin: var(--gap-sm);
}

.ma-md {
  margin: var(--gap-md);
}

.ma-lg {
  margin: var(--gap-lg);
}

.ma-xl {
  margin: var(--gap-xl);
}

.ma-xxl {
  margin: var(--gap-xxl);
}

.pb-0 {
  padding-bottom: 0;
}

.pb-xs {
  padding-bottom: var(--gap-xs);
}

.pb-sm {
  padding-bottom: var(--gap-sm);
}

.pb-md {
  padding-bottom: var(--gap-md);
}

.pb-lg {
  padding-bottom: var(--gap-lg);
}

.pb-xl {
  padding-bottom: var(--gap-xl);
}

.pb-xxl {
  padding-bottom: var(--gap-xxl);
}

.pt-0 {
  padding-top: 0;
}

.pt-xs {
  padding-top: var(--gap-xs);
}

.pt-sm {
  padding-top: var(--gap-sm);
}

.pt-md {
  padding-top: var(--gap-md);
}

.pt-lg {
  padding-top: var(--gap-lg);
}

.pt-xl {
  padding-top: var(--gap-xl);
}

.pt-xxl {
  padding-top: var(--gap-xxl);
}

.pl-0 {
  padding-left: 0;
}

.pl-xs {
  padding-left: var(--gap-xs);
}

.pl-sm {
  padding-left: var(--gap-sm);
}

.pl-md {
  padding-left: var(--gap-md);
}

.pl-lg {
  padding-left: var(--gap-lg);
}

.pl-xl {
  padding-left: var(--gap-xl);
}

.pl-xxl {
  padding-left: var(--gap-xxl);
}

.pr-0 {
  padding-right: 0;
}

.pr-xs {
  padding-right: var(--gap-xs);
}

.pr-sm {
  padding-right: var(--gap-sm);
}

.pr-md {
  padding-right: var(--gap-md);
}

.pr-lg {
  padding-right: var(--gap-lg);
}

.pr-xl {
  padding-right: var(--gap-xl);
}

.pr-xxl {
  padding-right: var(--gap-xxl);
}

.pa-0 {
  padding: 0;
}

.pa-xs {
  padding: var(--gap-xs);
}

.pa-sm {
  padding: var(--gap-sm);
}

.pa-md {
  padding: var(--gap-md);
}

.pa-lg {
  padding: var(--gap-lg);
}

.pa-xl {
  padding: var(--gap-xl);
}

.pa-xxl {
  padding: var(--gap-xxl);
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.va-m {
  vertical-align: middle;
}

.td-n {
  text-decoration: none;
}

.td-u {
  text-decoration: underline;
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-xxl {
  font-size: var(--text-xxl);
}

.text-h1 {
  font-size: var(--text-h1);
}

.text-h2 {
  font-size: var(--text-h2);
}

.text-h3 {
  font-size: var(--text-h3);
}

.text--bold {
  font-weight: 700;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-a {
  width: auto;
}

.p-a {
  position: absolute;
}

.p-r {
  position: relative;
}

.c-p {
  cursor: pointer;
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-xxl {
  font-size: var(--text-xxl);
}

.text-h1 {
  font-size: var(--text-h1);
}

.text-h2 {
  font-size: var(--text-h2);
}

.text-h3 {
  font-size: var(--text-h3);
}

.text--bold {
  font-weight: 700;
}

.icon-sm {
  font-size: 0.875em;
}

.icon-md {
  font-size: var(--text);
}

.icon-lg {
  font-size: 1.33em;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.color-primary {
  color: var(--color-primary);
}

.color-accent {
  color: var(--color-accent);
}

.color-info {
  color: var(--color-info);
}

.color-warning {
  color: var(--color-warning);
}

.color-danger {
  color: var(--color-danger);
}

.color-success {
  color: var(--color-success);
}

.color-error {
  color: var(--color-error);
}

.max-height-col {
  max-height: 50rem;
  overflow: auto;
}

.hidden {
  display: none;
}

.hidden-important {
  display: none !important;
}

.bg--sec {
  background-color: var(--color-background-sec);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__two-col {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 769px) {
  .flex__two-col > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 47%;
            flex: 1 1 47%;
    width: 47%;
  }
}

@media only screen and (max-width: 768px) {
  .flex__two-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mt-big {
  margin-top: 10rem;
}

@media only screen and (min-width: 769px) {
  .hide-desktop {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */