[data-md-color-scheme="trulens"] {
  --md-primary-fg-color: #0A2C37;
  --md-primary-fg-color--light: #D5E2E1;
  --md-accent-fg-color: #E0735C;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0A2C37;
  --md-primary-fg-color--light: #D5E2E1;
  --md-accent-fg-color: #E0735C;
}
