[data-md-color-scheme="trulens"] {
  --md-primary-fg-color: #0A2C37;
  --md-primary-fg-color--light: #D5E2E1;
  --md-accent-fg-color: #E0735C;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #0A2C37;
  --md-primary-fg-color--light: #D5E2E1;
  --md-accent-fg-color: #E0735C;
}

.banner {
  height: 12px;       /* Height of the banner */
  position: sticky;   /* Follows as you scroll */
  top: 0;             /* Absolute top of page */
  left: 0;
  width: 100%;
  z-index: 1;         /* Tells the renderer "this is important", otherwise Admonition and Code Blocks will render into it */
  text-align: center;
  background-color: color-accent;
}
