# python deps, OTEL:
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp

# OTEL contrib instrumentors
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-requests

# Traceloop instrumentors
opentelemetry-instrumentation-llamaindex
opentelemetry-instrumentation-openai

# Arize openinference instrumentors
openinference-instrumentation-llama-index >= 2

# OTEL zipkin exporter
opentelemetry-exporter-zipkin-proto-http
